
body {
  margin: 0;
  background-repeat: no-repeat;
  background-image: url("/pictures/background-ocean-mobile-dim.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.hide {
  opacity: 0;
  transition: opacity 300ms;
}
.show {
  opacity: 100%;
  transition: opacity 300ms;
}

paper-icon-button {
  margin-left: 30px;
  display: block;
  width: 24px;
  text-align: center;
}
paper-icon-button.bigWhite {
  color: grey;
  top: 4px;
  margin-left: 7px;
  width: 40px;
  height: 40px;
}
paper-icon-button.bigWhite.clicked {
  color: grey;
}
paper-icon-button.bigWhite::shadow {
  width: 40px;
  height: 40px;
  color: black;
}
paper-icon-button.bigWhite #icon {
  width: 40px;
  height: 40px;
}
.navBtn {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2
}
.navContainer {}
#logo {
  clear: both;
  margin: auto;
  text-align: center;
}
div #logo {
  width: 150px;
}
#paperDrawerPanel [main] {
  background-color: var(--google-grey-100);
}
#paperDrawerPanel [drawer] {
  border-right: 1px solid var(--google-grey-300);
}
#paperDrawerPanel[right-drawer] [drawer] {
  border-left: 1px solid var(--google-grey-300);
}
paper-button {
  color: white;
  margin: 10px;
  background-color: var(--google-blue-700);
  white-space: nowrap;
}
.cubeContainer {
  text-align: center;
}
.threejscube-container {

}
.hide {
  display: none;
}
.menu {
  position: relative;
}
#menu-heading{
  font-size: 16px;
  letter-spacing: 1vh;
  font-family: verdana;
  text-align: center;
  margin-top: 15vh;
}
.linebreak {
  border-bottom: 1px solid turquoise;
  margin: 1vh 3vh 0 3vh;
  color: turquoise;
  padding: 2vh 0 2vh 0;
}
.menuOption {
  font-size: 22px;
  font-family: verdana;
  letter-spacing: 4px!important;
  margin-left: 10px!important;
  line-height: 60px!important;
  text-align:left;
}
.menuOption a {
  text-decoration: none;
  color: grey!important;
}
.menuOption a:visited {
  text-decoration: none;
  color: grey!important;
}
.menuOption a:hover {
  text-decoration: none;
  color: black!important;
}
.menuOption a:focus {
  text-decoration: none;
  color: black!important;
}
.menuOption a:hover, .navBtn:active {
  text-decoration: none;
  color: black!important;
}


#menu-heading a {
  text-decoration: none;
  color: black;
}
#menu-heading a:visited {
  text-decoration: none;
  color: black;
}
#menu-heading a:hover {
  text-decoration: none;
  color: grey;
}
#menu-heading a:focus {
  text-decoration: none;
  color: black;
}
#menu-heading a:hover, .navBtn:active {
  text-decoration: none;
  color: black;
}

.ousideLink {
  text-align: center;
}
.outsideLink a {
  text-decoration: none;
  color: white;
}
.outsideLink a:visited {
  text-decoration: none;
  color: white;
}
.outsideLink + a:hover {
  text-decoration: none;
  color: grey;
}
.outsideLink a:focus {
  text-decoration: none;
  color: white;
}
.outsideLink a:hover, .outsideLink:active {
  text-decoration: none;
  color: grey;
}

.msoContainer {
  margin-top: 7vw;
}
.msoContainerViewport{
  overflow: auto;
  height: 45vh;
  text-align: center;
}
#work-for-mso {
  font-size: 5vh;
  font-family: verdana;
  color: white;
  padding: 0 10px;
  text-align: center;
  margin-top: -3vh;
}
#smaller-work-for-mso {
  font-size: 3vh;
  font-family: verdana;
  color: white;
  letter-spacing: 1vh;
  text-align: center;
  margin-top: -4vh;
  line-height: 5vh;
}

#about-mso {
  font-size: 16px;
  color: grey;
  padding: 0 40px;
  text-align: center;
  font-family: arial;
  letter-spacing: 9px;
    color: cornflowerblue;
    margin-bottom: 9px;
    padding-top: 5px;
}

.msoContainer a {
  display: inline-block;
  text-align: center;
}
#mso-webpage {
  height: 75%;
  width: 75%;
}
.desktopContainer {
  margin-top:45px;
  text-align: center;
}
#about-desktop {
  font-size: 5vh;
  font-family: verdana;
  letter-spacing: 1vh;
  color: white;
  text-align: center;
  margin-top: -45px;
}
.desktopDemoContainer {
  position: relative;
  margin: 0 7vw;
height: 73vw;
}
#desktopDemo {
  position: absolute;
  text-align: center;
  overflow: auto;
  height: 50vh;
  display: block;
  top: 3vh;
}
#aboutDesktopDemo {
  position: absolute;
}
.desktopContainer img {
  height: 70%;
  width: 90%;
}
#about-me-info {
  font-size: 5vh;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 3vh;
  color: white;
  padding: 0 2vh;
  text-align: center;
  margin-top: 1vw;
  line-height: 8vh;
}
#freelanceContainer{
  overflow: hidden;
  position: relative;
    display: flex;
    justify-content: center;
}
#freelancer {
  overflow:auto;
  width: 80vw;
  height: 70vh;
  font-size: 3.5vh;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 3vh;
  padding: 0 2vh;
  text-align: center;
  margin-top: 1vw;
  margin: 0 20px;
  line-height: 7vh;
  color: white;
}
#smaller-freelance {
  font-size: 3vh;
  letter-spacing:1vh;
  line-height: 2vh;
}


input 				{
  color: white;
  background-color: transparent;
  margin-top: 3vh;
  font-size:3vh;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  font-family: verdana;
  letter-spacing: 1vh;
  margin-top: -4vh;
  left: 3vh;
  color: white;
  font-size:2.5vh;
  font-weight:normal;
  position:absolute;
  pointer-events:none;

  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top: 5vh;
  font-size:2vh;
  color: grey;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background: cyan;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
.group{
  position: relative;
  display: inline-block;
}
#contact-me{
}
#contactMeContainer {
  text-align:center;
}
section {
  padding: 30px 25px;
  text-align: center;
  margin-top: 15vh;
}
section > * {
  margin: 10px
}
.button {
  display: inline-block;
  text-align: center;
  font-family: verdana;
  letter-spacing:1vh;
  position: relative;
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 8px;
  font-size: 0.9em;
  background-color: turquoise;
  color: white;
}
.button > paper-ripple {
  border-radius: 8px;
  overflow: hidden;
}
.button.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }

    .button.raised:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
    }
#thanksforsubmitting {
  font-size: 5vh;
  font-family: verdana;
  letter-spacing: 1vh;
  color: white;
  text-align: center;
  margin: 0 9vh;
}
#back-button{
  top: 6vh;
}
.submittedContainer {
  text-align: center;
}
